@using Microsoft.AspNetCore.Identity
@using CalendaroNet.Models

@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@if (signInManager.IsSignedIn(User))
{
    var currentUser = await userManager.GetUserAsync(User);

    var isAdmin = currentUser != null
        && await userManager.IsInRoleAsync(
            currentUser,
            Constants.AdministratorRole);

    if (isAdmin)
    {

        <ul id="navdropdown" class="nav navbar-nav navbar-right dropdown margin-top">
            <a class="" href="#" id="" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Panel Admininstratora
            </a>
            <div class="dropdown-menu bg-primary" aria-labelledby="navbarDropdownMenuLink">
                 <a asp-controller="Service" asp-action="Index"> Zarządzaj usługami</a>
                 <a asp-controller="ManageUsers" asp-action="Index"> Użytkownicy</a><br>
                 <a asp-controller="Employee" asp-action="Index"> Pracownicy</a>
            </div>
      </ul>
    }
}