@model ServiceViewModel

@{
    ViewData["Title"] = "Manage your services";
}

  <button type="button" class="btn btn-primary btn-lg">
                <a asp-controller="Service" 
                   asp-action="AddService">
                   Dodaj
                </a></button>
  <button type="button" class="btn btn-danger btn-lg" asp-controller="Service" 
   asp-action="Index">Usuń</button>

<div class="panel panel-default service-panel">
  <div class="panel-heading">@ViewData["Title"]</div>

  <table class="table table-hover">
      <thead>
          <tr>
              <td>&#x2714;</td>
              <td>Service</td>
              <td>Time</td>
          </tr>
      </thead>

      @foreach (var item in Model.Services)
      {
          <tr>

              <td>@item.Name</td>
              <td>@item.TimeRequired</td>
          </tr>
      }
  </table>

</div>