@model AddEmployeeViewModel
@using CalendaroNet.Models.Employees
@{
    ViewData["Title"] = "Dodaj użytkownika";
}

<h2>@ViewData["Title"]</h2>
<div>
    <div>
        <form  asp-action="AddEmployee" method="POST">
            <h4>Wprowadź opis użytkownika.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
            <label asp-for="UserId"></label>
            @Html.DropDownListFor(x => x.UserId, new SelectList(Model.Users, "Id", "UserName"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Imię</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label >Drugię imię</label>
                <input asp-for="SecondName" class="form-control" />
                <span asp-validation-for="SecondName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Nazwisko</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Data zatrudnienia</label>
                <input  type="date" id="date" asp-for="EmploymentDate" class="form-control" />
                <span asp-validation-for="EmploymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Koniec umowy</label>
                <input type="date" id="date" asp-for="ContractEndDate" class="form-control" />
                <span asp-validation-for="ContractEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Miesięczna pensja</label>
                <input asp-for="BaseMonthSalary" class="form-control" />
                <span asp-validation-for="BaseMonthSalary" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Dodaj</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}