

<h1>Kamień, papier i nożyce</h1>

<div class="game">

    <script>
        // User choice
        var userChoice = prompt("Wybierasz papier, kamień czy nożyce?");
        if (! userChoice) {
            // User choice was undefined
            document.write("<p>Player 1, oszukiwałeś! Odśwież stronę i walcz jak męzczyzna</p>");
        } else {
            // Display user choice
            document.write("<p>Player 1:" + " " + userChoice + "</p>");
        }
        // Computer choice
        var computerChoice = Math.random();
        if (computerChoice < 0.34) {
            computerChoice = "kamień";
        } else if(computerChoice <= 0.67) {
            computerChoice = "papier";
        } else {
            computerChoice = "nożyce";
        }
        // Display computer choice
        document.write("<p>Komputer:" + " " + computerChoice + "</p>");
        // Compare user choice vs computer choice
        var compare = function(choice1,choice2) {
            if (choice1 === choice2) {
                return "It's a tie!";
            }
            if (choice1 === "rock") {
                if (choice2 === "scissors") {
                    // rock wins
                    return "You win!";
                } else {
                    // paper wins
                    return "You lose! Try again.";
                }
            }
            if (choice1 === "paper") {
                if (choice2 === "rock") {
                    // paper wins
                    return "You win!";
                } else {
                    // scissors wins
                    return "You lose! Try again.";
                }
            }
            if (choice1 === "scissors") {
                if (choice2 === "rock") {
                    // rock wins
                    return "You lose! Try again.";
                } else {
                    // scissors wins
                    return "You win!";
                }
            }
        };
        // Run the compare function
        var results = compare(userChoice,computerChoice);
        // Display results
        document.write("<br><hr><br>" + results);
    </script>

</div>
